@model HackerCentral.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Old Password"}) <br />
    @Html.PasswordFor(m => m.NewPassword, new { placeholder = "New Password"}) <br />
    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password"}) <br />
    
    <input type="submit" class="btn btn-primary" value="Change password" />
 
}
