@model HackerCentral.Models.LocalPasswordModel

<h2>Change password</h2>
<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
@using (Html.BeginForm("Manage", "Account", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Old Password"}) <br />
    @Html.PasswordFor(m => m.NewPassword, new { placeholder = "New Password"}) <br />
    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password"}) <br />
    
    <input type="submit" class="btn btn-primary" value="Change password" />
 
}
