@model HackerCentral.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="well well-large offset4 span4">
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()

    <h2>Please sign in</h2>
    @Html.TextBoxFor(m => m.UserName, new { placeholder = "Email address", type = "text" })
    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", type = "password" })
    @Html.ValidationSummary(true)
    <label class="checkbox">
        @Html.CheckBoxFor(m => m.RememberMe) Remember me
    </label>
    <button class="btn btn-primary" type="submit">Sign in</button>
    
}
</div>
