@model HackerCentral.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<h1>@ViewBag.Title</h1>

@if(ViewBag.StatusMessage != "") {
    <div class="alert alert-success">
        @ViewBag.StatusMessage
    </div>
}

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}