@model HackerCentral.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, @class="form-signin"}))
{
    @Html.AntiForgeryToken()

    <div id="register">
    <h2 class="form-signin-heading">Create a new account</h2>
    
    <p>@Html.TextBoxFor(m => m.UserName, new { placeholder = "Username", @class = "input-block-level", type = "text" })</p>
    @*<p>@Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "input-block-level", type = "text" })</p>*@
    <p>@Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "input-block-level", type = "password" })</p>
    <p>@Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "input-block-level", type = "password" })</p>
    
    @Html.ValidationSummary(true)
    @{
        var ua = new HackerCentral.Accessors.UserAccessor();
        if (ua.serverStatus())
        {
            <button class="btn btn-large btn-primary" id="submitButton" type="submit">Register</button>
        }
        else
        {
            <div class="alert alert-info" style="word-wrap:break-word; margin-top:12px;">Server is off duty...You cannot register new account right now.</div>
        }
        }
    </div>
}
    
@section Styles {
    <style type="text/css">
        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
                    border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
               -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                    box-shadow: 0 1px 2px rgba(0,0,0,.05);
          }
          .form-signin .form-signin-heading,
          .form-signin .checkbox {
            margin-bottom: 10px;
          }
          .form-signin input[type="text"],
          .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
          }
    </style>
}

