@model HackerCentral.ViewModels.PointsViewModel
@{
    ViewBag.Title = "Index";
}



<div class="container" id="nest" style="padding-bottom:35px">
    @if (ViewBag.Message != "")
    {
        <div class="alert alert-info">
            @ViewBag.Message
        </div>
    }
    @if (Request.IsAuthenticated)
    {
        string[] roles = Roles.GetRolesForUser();
        Boolean isAdminRole = roles.Any(u => u.Equals("Administrator") || u.Equals("Hacker"));
        <h2>POINTS</h2>
        <div class="tabbable" id="tabs">
            <ul class="nav nav-pills">
                <li><a id="NestedPoints" href="#nestedPoints" data-toggle="tab">
                    <h4>Nested Points</h4>
                </a></li>
                <li><a id="MyPoints" href="#myPoints" data-toggle="tab">
                    <h4>My Points</h4>
                 </a></li>
                <li><a id ="TopQualityPoints" href="#topQualityPoints" data-toggle="tab">
                    <h4>High Quality Points</h4>
                </a></li>
                <li><a id="LowQualityPoints" href="#lowQualityPoints" data-toggle="tab">
                    <h4>Low Quality Points</h4>
                </a></li>              
                <li><a id="PopularPoints"href="#popularPoints" data-toggle="tab">
                    <h4>Popular Points</h4>
                </a></li>
                <li><a id="UnPopularPoint"href="#unpopularPoints" data-toggle="tab">
                    <h4>Unpopular Points</h4>
                </a></li>  
                <li><a id="UnratedPoints" href="#unratedPoints" data-toggle="tab">
                <h4>Unrated Points</h4>
                </a></li>
                <li><a id="SearchUsername" href="#searchUsername" data-toggle="tab">
                    <h4>Search Username</h4>
                </a></li>           
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="nestedPoints">
                    <div class="well">
                        @*<a href="#createModal" role="button" class="btn btn-primary" data-toggle="modal">Add a Point</a>*@
                        @foreach (var n in Model.nestedPoints)
                        {
                            @PrintNest(n, isAdminRole);
                        }
                    </div>
                </div>
                <div class="tab-pane" id="myPoints">
                    <div class="well">
                        @foreach (var n in Model.getMyPoints())
                        {
                            @PrintPoints(n, isAdminRole, "Quality: " + n.quality);
                        }
                    </div>
                </div>
                <div class="tab-pane" id="topQualityPoints">
                    <div class="well">
                        @foreach (var n in Model.getTopRatedPoints())
                        {
                            @PrintPoints(n, isAdminRole, "Quality: " + n.quality);
                        }
                    </div>
                </div>
                <div class="tab-pane" id="lowQualityPoints">
                    <div class="well">
                        @foreach (var n in Model.getLowRatedPoints())
                        {
                            @PrintPoints(n, isAdminRole, "Quality: " + n.quality);
                        }
                    </div>
                </div>
                <div class="tab-pane" id="popularPoints">
                    <div class="well">
                        @foreach (var n in Model.getMostViewedPoints())
                        {
                            @PrintPoints(n, isAdminRole, "Views: " + n.views);
                        }
                    </div>
                </div>
                <div class="tab-pane" id="unpopularPoints">
                    <div class="well">
                        @foreach (var n in Model.getLeastViewedPoints())
                        {
                            @PrintPoints(n, isAdminRole, "Views: " + n.views);
                        }
                    </div>
                </div>
                <div class="tab-pane" id="unratedPoints">
                    <div class="well">
                        @foreach (var n in Model.getUnratedPoints())
                        {
                            @PrintPoints(n, isAdminRole, "");
                        }
                    </div>
                </div>
                <div class="tab-pane" id="searchUsername">
                    <textarea id="Type_Username" rows="1" placeholder="Type Username"></textarea>
                    <button id ="Search" class="btn">Search</button>
                    <div class="well">
                        @foreach (var n in Model.visiblePoints)
                        {
                            @PrintUserPoints(n, isAdminRole, "");
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    

    @helper PrintNest(HackerCentral.ViewModels.PointsViewModel.NestItem nest, Boolean isAdminRole)
{
    string color;
    color = (nest.Parent.side.ToString().Equals("pro")) ? "#2fbfbf" : "#f67d38";
    
        <div id=@nest.Parent.id class="point" style="background: @color ">
            @*<div class="actions">
                    @Ajax.ActionLink(@nest.Parent.id + ":" + @nest.Parent.summary, "LinkForm", new { id = @nest.Parent.id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "editForm" }, new { @class = "editLink" })            
            </div>*@
            <div class="collapse-group">
                <h4>#@nest.Parent.id: @nest.Parent.summary</h4>
                <div class="collapse">
                    <p>@nest.Parent.full_text (@nest.Parent.side.ToString())</p>
                    <p>Quality: @nest.Parent.quality</p>
                    <div class="actions">
                        <i class="icon-thumbs-up"> </i>
                        <a href="http://129.93.238.144/embedded/2/@nest.Parent.id/true" target="_blank">Rate It!</a>
                        @*@Ajax.ActionLink("View", "ViewPoint", "Points", new { id = @nest.Parent.id },  new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "page" }, new {@class= "viewLink"})*@
                        @if (isAdminRole)
                        {
                            <i class="icon-pencil"> </i>
                            @Ajax.ActionLink("Edit", "EditForm", new { id = @nest.Parent.id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "editForm" }, new { @class = "editLink" })
                            @*<i class="icon-trash"> </i>*@
                            @*@Html.ActionLink("Delete ", "Destroy", "Points", new { id = @nest.Parent.id }, new { onclick = "return confirm('Are you sure you want to delete point #" + nest.Parent.id.ToString() + "?');"})*@

                        }
                    </div>
                </div>
                <br />
                <p><button type="button" class="btn btn-primary btn-small" data-toggle="button">Show</button></p>
            </div>      
        </div>
    if (nest.HasChildren())
    {
        <div class="nested">
            @foreach (var n in nest.Children)
            {
                
                @PrintNest(n, isAdminRole);
            }
        </div>
    }
    }

    <div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="editForm"></div>
    </div>
   @* <div id="viewModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="viewForm"></div>
    </div>*@

    <div id="createModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        @Html.Partial("_CreatePoint", Model)
    </div>
</div>

@helper PrintPoints(HackerCentral.Models.Point point, Boolean isAdminRole, String infoString)
{
    string color;
    color = (point.side.ToString().Equals("pro")) ? "#2fbfbf" : "#f67d38";
    <div id=@point.id class="point" style="background: @color ">
        <div class="collapse-group">
            <h4>#@point.id: @point.summary</h4>
            <div class="collapse">
                <p>@point.full_text (@point.side.ToString())</p>
                <p>@infoString</p>
                <div class="actions">
                    <i class="icon-thumbs-up"> </i>
                    <a href="http://129.93.238.144/embedded/2/@point.id/true" target="_blank">Rate it! </a>
                    @if (isAdminRole)
                    {
                        <i class="icon-pencil"> </i>
                        @Ajax.ActionLink(" Edit ", "EditForm", new { id = @point.id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "editForm" }, new { @class = "editLink" })
                        @*<i class="icon-trash"> </i>*@
                        @*@Html.ActionLink(" Delete ", "Destroy", "Points", new { id = @point.id }, new { onclick = "return confirm('Are you sure you want to delete point #" + point.id.ToString() + "?');"})*@
                    }
                </div>
            </div>
            <br />
            <p><button type="button" class="btn btn-primary btn-small" data-toggle="button">Show</button></p>
        </div>
    </div>
}

@helper PrintUserPoints(HackerCentral.Models.Point point, Boolean isAdminRole, String infoString)
{
    string color;
    string pointID = "search" + point.id;
    color = (point.side.ToString().Equals("pro")) ? "#2fbfbf" : "#f67d38";
    <div id=@pointID class="point" style="background: @color; display:none">
        <div class=" collapse-group">
            <h4>#@point.id: @point.summary</h4>
            <div class="collapse">
                <p>@point.full_text (@point.side.ToString())</p>
                <p>@infoString</p>
                <div class="actions">
                    <i class="icon-thumbs-up"> </i>
                    <a href="http://129.93.238.144/embedded/2/@point.id/true" target="_blank">Rate it! </a>
                    @if (isAdminRole)
                    {
                        <i class="icon-pencil"> </i>
                        @Ajax.ActionLink(" Edit ", "EditForm", new { id = @point.id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "editForm" }, new { @class = "editLink" })
                        @*<i class="icon-trash"> </i>*@
                        @*@Html.ActionLink(" Delete ", "Destroy", "Points", new { id = @point.id }, new { onclick = "return confirm('Are you sure you want to delete point #" + point.id.ToString() + "?');"})*@
                    }
                </div>
            </div>
            <br />
            <p><button type="button" class="btn btn-primary btn-small" data-toggle="button">Show</button></p>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(".editLink").on("click", function () {
        $('#editModal').modal('show');
    });

    $("#Search").on('click', function (e) {
        var $username = document.getElementById("Type_Username").value;
        var allPointIdList = ('@Model.getAllPointsId()').split(" ");
       
        var searchResult = $.ajax({
            type: 'GET',
            url: "http://localhost:60632/Points/Search",
            data: { 'username': $username },
            async: false,
            success: function (data) {
                alert(data);
                searchResult = data.split(",");
            },
            dataType: "String"
        });
        allPointIdList.forEach(function (entry) {
            var $element = document.getElementById("search" + entry)
            if ($element != null) {
                $element.style.display = "none";
            }
        });
            //var searchResult = userPointIdList.split(",");
           // alert(searchResult);
        searchResult.responseText.split(",").forEach(function (entry) {
            var $element = document.getElementById("search" + entry);
            if($element != null){
                $element.style.display = "block";
            }
            });
        })

        $('.point .btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $collapse = $this.closest('.collapse-group').find('.collapse');
            var $tabName = $this.closest('.tab-pane').attr('id');
            var $pointId = $this.closest('.point').attr('id');
            $collapse.collapse('toggle');
            if ($this.text() == "Show") {
                $this.text("Hide");
                $.ajax({
                    type: 'POST',
                    url: 'http://129.93.238.144/log_point_view',
                    data: { 'point_id': $pointId, 'user_name': '@Model.username', 'ranked_view': $tabName },
                dataType: "json",
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                headers: {

                },
                success: function () {

                },
                error: function () {

                }
            });
        }
        else {
            $this.text('Show');
        }


        @*alert("Point id = " + $pointId + "\nUsername: @Model.username" + "\ntabname: " + $tabName);*@
    });
    //$(".viewLink").on("click", function () {
    //    $('#viewModal').modal('show');
    //});
    $(function () {
        $('a[data-toggle="tab"]').on('shown', function (e) {
            e.preventDefault();
            $id = String(e.target.getAttribute('href')).replace(/#/, ""); // activated tab
            //e.relatedTarget // previous tab
            @*alert("Tab Name: " + $id + "\nUserName:  @Model.username");*@
        })
    });
</script>
}

