@model HackerCentral.ViewModels.PointsViewModel
@{
    ViewBag.Title = "Index";
}



<div class="container" id="nest" style="padding-bottom:35px">
    @if (ViewBag.Message != "")
    {
        <div class="alert alert-info">
            @ViewBag.Message
        </div>
    }
    @if (Request.IsAuthenticated)
    {
        string[] roles = Roles.GetRolesForUser();
        Boolean isAdminRole = roles.Any(u => u.Equals("Administrator") || u.Equals("Hacker"));
        <h2>POINTS</h2>
        <div class="tabbable" id="page">
            <ul class="nav nav-pills">
                <li><a href="#nestedPoints" data-toggle="tab">
                    <h4>Nested Points</h4>
                </a></li>
                <li><a href="#topQualityPoints" data-toggle="tab">
                    <h4>High Quality Points</h4>
                </a></li>
                <li><a href="#lowQualityPoints" data-toggle="tab">
                    <h4>Low Quality Points</h4>
                </a></li>              
                <li><a href="#popularPoints" data-toggle="tab">
                    <h4>Popular Points</h4>
                </a></li>
                <li><a href="#unpopularPoints" data-toggle="tab">
                    <h4>Unpopular Points</h4>
                </a></li>  
                <li><a href="#unratedPoints" data-toggle="tab">
                    <h4>Unrated Points</h4>
                </a></li>           
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="nestedPoints">
                    <div class="well">
                        <a href="#createModal" role="button" class="btn btn-primary" data-toggle="modal">Add a Point</a>
                        @foreach (var n in Model.nestedPoints)
                        {
                            @PrintNest(n, isAdminRole);
                        }
                    </div>
                </div>
                <div class="tab-pane" id="topQualityPoints">
                    <div class="well">
                        @foreach (var n in Model.getTopRatedPoints())
                        {
                            @PrintPoints(n, isAdminRole, "Quality: " + n.quality);
                        }
                    </div>
                </div>
                <div class="tab-pane" id="lowQualityPoints">
                    <div class="well">
                        @foreach (var n in Model.getLowRatedPoints())
                        {
                            @PrintPoints(n, isAdminRole, "Quality: " + n.quality);
                        }
                    </div>
                </div>
                <div class="tab-pane" id="popularPoints">
                    <div class="well">
                        @foreach (var n in Model.getMostViewedPoints())
                        {
                            @PrintPoints(n, isAdminRole, "Views: " + n.views);
                        }
                    </div>
                </div>
                <div class="tab-pane" id="unpopularPoints">
                    <div class="well">
                        @foreach (var n in Model.getLeastViewedPoints())
                        {
                            @PrintPoints(n, isAdminRole, "Views: " + n.views);
                        }
                    </div>
                </div>
                <div class="tab-pane" id="unratedPoints">
                    <div class="well">
                        @foreach (var n in Model.getUnratedPoints())
                        {
                            @PrintPoints(n, isAdminRole, "");
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    

    @helper PrintNest(HackerCentral.ViewModels.PointsViewModel.NestItem nest, Boolean isAdminRole)
{
    string color;
    color = (nest.Parent.category.ToString().Equals("SUPPORTING")) ? "#2fbfbf" : "#f67d38";
    
        <div class="point" style="background: @color ">
            @*<div class="actions">
                    @Ajax.ActionLink(@nest.Parent.id + ":" + @nest.Parent.summary, "LinkForm", new { id = @nest.Parent.id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "editForm" }, new { @class = "editLink" })            
            </div>*@
            <h4>#@nest.Parent.id: @nest.Parent.summary</h4>
            <p>@nest.Parent.full_text (@nest.Parent.category.ToString())</p>
            <p>Quality: @nest.Parent.quality</p>

            <div class="actions">
                <i class="icon-thumbs-up"> </i>
                <a href="http://129.93.238.144/embedded/2/@nest.Parent.id/true" target="_blank">Rate It!</a>
                @*@Ajax.ActionLink("View", "ViewPoint", "Points", new { id = @nest.Parent.id },  new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "page" }, new {@class= "viewLink"})*@
                @if (isAdminRole)
                {
                    <i class="icon-pencil"> </i>
                    @Ajax.ActionLink("Edit", "EditForm", new { id = @nest.Parent.id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "editForm" }, new { @class = "editLink" }) 
                    <i class="icon-trash"> </i>
                    @Html.ActionLink("Delete ", "Destroy", "Points", new { id = @nest.Parent.id }, new { onclick = "return confirm('Are you sure you want to delete point #" + nest.Parent.id.ToString() + "?');"})
                
            }
            </div>
        </div>
    if (nest.HasChildren())
    {
        <div class="nested">
            @foreach (var n in nest.Children)
            {
                
                @PrintNest(n, isAdminRole);
            }
        </div>
    }
    }

    <div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="editForm"></div>
    </div>
   @* <div id="viewModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="viewForm"></div>
    </div>*@

    <div id="createModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        @Html.Partial("_CreatePoint", Model)
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(".editLink").on("click", function () {
            $('#editModal').modal('show');
        });

        //$(".viewLink").on("click", function () {
        //    $('#viewModal').modal('show');
        //});
    </script>
}

@helper PrintPoints(HackerCentral.Models.Point point, Boolean isAdminRole, String infoString)
{
    string color;
    color = (point.category.ToString().Equals("SUPPORTING")) ? "#2fbfbf" : "#f67d38";
    <div class="point" style="background: @color ">
        <h4>#@point.id: @point.summary</h4>
        <p>@point.full_text (@point.category.ToString())</p>
        <p>@infoString</p>
        
        <div class="actions">
            <i class="icon-thumbs-up"> </i>
            <a href="http://129.93.238.144/embedded/77/@point.id/true" target="_blank">Rate it! </a>
        @if (isAdminRole)
        {
            <i class="icon-pencil"> </i>
            @Ajax.ActionLink(" Edit ", "EditForm", new { id = @point.id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "editForm" }, new { @class = "editLink" }) 
            <i class="icon-trash"> </i>
            @Html.ActionLink(" Delete ", "Destroy", "Points", new { id = @point.id }, new { onclick = "return confirm('Are you sure you want to delete point #" + point.id.ToString() + "?');"})   
        }
        </div>
    </div>
}


