@model HackerCentral.ViewModels.PointsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Points</h2>

<a href="#createModal" role="button" class="btn btn-primary pull-right" data-toggle="modal">Add a Point</a>

@if (ViewBag.Message != "")
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}

@foreach (var n in Model.nestedPoints)
{
    @PrintNest(n);
}

@helper PrintNest(HackerCentral.ViewModels.PointsViewModel.NestItem nest)
{
    <div class="point">
        <h4>#@nest.Parent.id: @nest.Parent.summary</h4>
        <p>@nest.Parent.full_text (@nest.Parent.category.ToString())</p>
        <div class="actions">
            @Ajax.ActionLink("Edit", "EditForm", new { id = @nest.Parent.id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "editForm" }, new { @class = "editLink" }) | 
            @Html.ActionLink("Delete", "Destroy", "Points", new { id = @nest.Parent.id }, null) </div>
    </div>
    if (nest.HasChildren())
    {
        <div class="nested">
            @foreach(var n in nest.Children) 
            {
                @PrintNest(n);
            }
        </div>
    }
}

<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="editForm"></div>
</div>

<div id="createModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @Html.Partial("_CreatePoint", Model)
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(".editLink").on("click", function () {
            $('#editModal').modal('show');
        });
    </script>
}
