<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Conversation</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/bootstrap")
        @RenderSection("Styles", required: false)
    </head>
    <body>
        @RenderBody()
        
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("Scripts", required: false)
    </body>
</html>
