@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1>Error</h1>

<div class="alert alert-error">
    @Model.Exception.Message
</div>

<div class="alert alert-info">
    @Model.Exception.Source
</div>

<div class="alert alert-info">
    @Model.Exception.InnerException
</div>

<div class="alert alert-info">
    @Model.Exception.TargetSite
</div>

<div class="alert alert-info">
    @Model.Exception.StackTrace
</div>