@using HackerCentral.Models
@model HackerCentral.ViewModels.UserPasswordViewModel

@using (Html.BeginForm("EditUserPassword", "Administration", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Changing password for: @Model.UserName</h3>
    </div>
    <div class="modal-body">

        <div class="control-group">
            <label class="control-label" for="inputPassword">Password:</label>
            <div class="controls">
                @Html.PasswordFor(m => m.Password, new { id = "inputPassword", type = "password", placeholder = "New password", value = Model.Password})
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputRole">Confirm password:</label>
            <div class="controls">
                @Html.PasswordFor(m => m.PasswordConfirmation, new { id = "inputPasswordConfirmation", type = "password", placeholder = "Confirm new password", value = Model.PasswordConfirmation})
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <input type="submit" id="inputPasswordSubmit" class="btn btn-primary" value="Save Changes" />
    </div>
        
    @Html.HiddenFor(m => m.UserId, new { value = Model.UserId }) 
    @Html.HiddenFor(m => m.UserName, new { value = Model.UserName}) 
    @Html.AntiForgeryToken()
}

<script>
    $password = $("#inputPassword");
    $passwordConfirmation = $("#inputPasswordConfirmation");

    var disableSubmitButtonIfPasswordsAreInvalid = function () {
        password = $password.val();
        passwordConfirmation = $passwordConfirmation.val();
        if (password != "" && passwordConfirmation != "" && password === passwordConfirmation) {
            $("#inputPasswordSubmit").removeAttr('disabled');
        } else {
            $("#inputPasswordSubmit").attr('disabled', 'disabled');
        }
    }

    $(document).ready(function () {
        $password.keyup(disableSubmitButtonIfPasswordsAreInvalid);
        $passwordConfirmation.keyup(disableSubmitButtonIfPasswordsAreInvalid);
        $("#inputPasswordSubmit").attr('disabled', 'disabled'); //Submit button should be disabled when password forms are blank
    });
</script>
